@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family: "Poppins", sans-serif;
}

:root{
    --maincolor: #ca0000;
    --blackcolor: #121212;
    --border: 0.1rem solid rgba(255,255,255,0.4)
}

/* base html codes*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
    width: 0.2rem;
    background-color: rgb(247, 217, 217);
}
html::-webkit-scrollbar-thumb{
    width: 0.2rem;
    border-radius: 0.2rem;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

    body{
        background-color: var(--maincolor);

    }
    section{
        padding: 3.5rem 7%;
    }
    .btn{
        font-size: 1.7rem;
        display: inline-block;
        padding: 2rem 3.5rem;
        font-size: 1.7rem;
        color: #fff;
        background-color: #121212;
        cursor: pointer;
        border-radius: 30rem;
               
        }
    .btn:hover{
        font-size: 1.7rem;
        display: inline-block;
        padding: 2rem 3.75rem;
        font-size: 1.7rem;
        color: rgb(0, 0, 0);
        background-color: #ff0000;
        cursor: pointer;
        border-radius: 30rem;
        transition: 0.5s;
    }
    /*header Start*/

    .header .search-form{
        position: absolute;
        top: 115%;
        right: 7%;
        background-color: #fff;
        width: 50rem;
        height: 5rem;
        display: flex;
        align-items: center;
        border-radius: 3rem;
        box-shadow: 0px 0px 25px 2px rgb(0, 0, 0 / 75%);
        transform: scaleY(0);
    }
    .header .search-form.active{
        transform: scaleY(1);
    }
    .header .search-form i{
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 1.5rem;
        color: var(--blackcolor);
    }
    .header .search-form input{
        width: 100%;
    }
   
    .header .logo img{
        height: 7.5rem;
    }
    
    .search-input{
        font-size: 1.6rem;
        color: var(--blackcolor);
        padding: 1rem;
        text-transform: none;
        border-radius: 3rem;
    }
    .header{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 7%;
        margin: 2rem 7%;
        border-radius: 30rem;
        box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.25);
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .header .navbar a{
        margin: 0 1rem;
        font-size: 1.6rem;
        color: var(--blackcolor);
        border-bottom: 0.1rem solid transparent;

    }
    .header .navbar a:hover{
        border-color:var(--maincolor);
        padding-bottom: 0.5rem;
    }
    .header .navbar a.active{
        border-color: var(--maincolor);
        padding-bottom: 0.5rem;
    }
    .header .buttons button{
        cursor: pointer;
        font-size: 2.5rem;
        margin-left: 2rem;
        background-color: transparent;
    }
    #menu-btn{
        display: none;
    }
    /*header End*/
     /*user-menu start*/
     .user-menu {
        position: absolute ;
        width: 25rem;
        height: 100%;
        background-color: #fff;
        left: 97%
     }
     .user-menu:hover {
        left: 85%;
     }
     /*user-menu end*/
     /*home start*/

     .home {
        min-height: 100vh;
        margin-top: 2rem;
        background-color: #121212;
    }
    .home .content{
        max-width: 100vh;
        

    }
        
    .home .content h3 p{
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.8;
        padding: 1rem 0;
        color: #ccc;
    }

     /*home end*/